.main {
  position: relative !important;
  min-height: calc(100vh - 10px);
  text-align: center;
  width: 100vw;
}

.main__container {
  position: relative !important;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.main__container__item {
  position: relative !important;
  padding: 5px;
  width: 33.33% !important;

  &_image {
    position: relative;

    height: calc(0px + 810 * (100vw / 1920));

    img {
      border-radius: 5px;
    }
  }

  &_info {
    font-size: calc(10px + 10 * (100vw / 1920));
    p {
      margin: 15px 0 5px;
    }

    span {
      font-weight: bold;
    }

    div {
      margin: 5px 5px 0;
      display: inline-block;
      border-radius: 50%;
      width: 10px;
      height: 10px;
    }
  }

  @media (max-width: 800px) {
    width: 50%;

    &_image {
      position: relative;
      height: calc(0px + 1200 * (100vw / 1920));
    }
  }
}
